.Notifications {
    border: 1px dashed red;
    padding: 10px;
}

.Notifications ul li[data-priority="default"] {
    color: blue;
}

  .Notifications ul li[data-priority="urgent"] {
    color: red;
}