.Notifications {
    border: 1px dashed red;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow-y: auto;
}

.Notifications ul li[data-priority="default"] {
    color: blue;
}

  .Notifications ul li[data-priority="urgent"] {
    color: red;
}

.Notifications ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .Notifications li {
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .Notifications li:last-child {
    border-bottom: none;
  }
  
  .Notifications button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }

/* Notifications.css */
.menuItem {
    margin-bottom: 10px;
  }

  .menuItem {
    position: fixed;
    top: 10px;
    right: 310px; /* Adjust as needed */
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 10px;
    cursor: pointer;
  }